/*styles for about.html*/ 
.about-container{
    display: flex;
    align-items: center;
}
.about-person-img{
    width: 400px;
    height: 400px;
    background-image: url("../images/samir-gurung.jpg")
}