/* styles for contact.html */
.contact-title {
  text-align: center;
  font-size: 60px;
  color: lightblue;
}
.contact-message {
  text-align: center;
  font-size: 20px;
  color: aqua;
}
.form-container {
  background-color: #d9d9d9;
  width: 20%;
  margin: auto;
  /* padding: 5px; */
  border-radius: 5px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px black;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px 10px rgba(0, 0, 0, 0.19);
}
.input-boxes{
  width: 150%;
}
.input-row-1 {
  width: 320%;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; */
}

.input-row-2 {
  width: 148%;
  /* display: flex;
  align-items: left; */
  /* justify-content: space-between;
  flex-wrap: nowrap; */
}

.submit-button {
  width: auto;
  text-align: center;
}

.username-area,
.email-area,
.msg-area {
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
.username-area::placeholder,
.email-area::placeholder,
.msg-area::placeholder {
  font-size: 15px;
  padding-left: 5px;
}
.username-area,
.email-area {
  padding: 10px 0;
}
.msg-area {
  min-width: 100%;
  height: 7rem;
  padding: 0;
  margin: 15px 0;
}
.username-area {
  width: 30%;
  margin-right: 3px;
}
.email-area {
  width: 65%;
  margin-left: 6px;
}

/* .mail-icon{
  position: absolute;
  top: 5px;
  left:3px;
} */
