/* styles for contact.html */
.contact-title {
  text-align: center;
  font-size: 40px;
}
.form-container {
  background-color: #d9d9d9;
  width: 50%;
  margin: auto;
  /* padding: 5px; */
  border-radius: 10px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-boxes{
  width: 80%;
}
.input-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* position: relative; */
}
.username-area,
.email-area,
.msg-area {
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
.msg-area {
  width: 99.5%;
  height: 7rem;
  padding: 0;
  padding-left: 5px;
  margin: 15px 0;
}
.username-area,
.email-area {
  padding: 5px 0 5px 5px;
}
.username-area {
  width: 25%;
  margin-right: 3px;
}
.email-area {
  width: 65%;
  margin-left: 3px;
}

/* .mail-icon{
  position: absolute;
  top: 5px;
  left:3px;
} */
