/*styles for index.html*/ 

#card-container{
    display: flex;
    gap: 20px;
    overflow-x:scroll;
}
.card--cover-image{
    width: 250px;
}
.card--title{
    font-weight: 600;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}