/*styles for items.html*/ 
.item-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.item-specs-list{
    list-style-type: none;
}
.item-image{
    width: 500px;
}