#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9%;
    margin-left: auto;
    margin-right: auto;
}
label{
    align-self: flex-start;
}
input{
    max-width: 350px
}
button{
    margin: 7px;
    width: 75px;
    height: 30px;
    font-weight: 600;
}