/*styles for login.html and signup.html*/

input {
  max-width: 500px;
  min-width: 170px;
}

button {
  margin: 7px;
  width: 75px;
  height: 30px;
  font-weight: 600;
  align-self: center;
  margin: 15px;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 55vh; */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50vh;
  margin: 30px auto;
  background-color: #d9d9d9;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 600ms;
}

.form-container:hover {
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.8);
  transition-duration: 600ms;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
}

.signup-text, .login-text {
  font-weight: 700;
}

.signup-text:hover,.login-text:hover {
  text-decoration: underline;
}

.login-btn,
.signup-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  color: #252422;
  transition-duration: 600ms;
  border: 1px solid #252422;
  font-weight: 600;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #252422;
  color: white;
  border: 1px solid #252422;
  cursor: pointer;
  transition-duration: 400ms;
}

.change-form-text {
  margin: 5px auto;
}