{% extends 'auctions/layout.html' %}
{% block title %}
ABOUT
{% endblock %}
{% block body %}
<h1 class="about-heading">Team 'TECH AUCTION HOUSE'</h1>
<div class="about-container">
  <div class="person" id="samir-gurung-details">
    <div class="person-img"></div>
    <!-- <img src="../static/images/samir-gurung.png" class="person-img"> -->
    <h3 class="person-name">Samir Gurung</h3>
    <div class="person-details">IOE WRC</div>
    <div class="roll-number">PAS076BCT032</div>
  </div>

  <div class="person" id="rupesh-ghimire-details">
    <div class="person-img" i></div>
    <h3 class="person-name">Rupesh Ghimire</h3>
    <div class="person-details">IOE WRC</div>
    <div class="roll-number">PAS076BCT025</div>
  </div>

  <div class="person" id="sailesh-ghimire-details">
    <div class="person-img"></div>
    <h3 class="person-name">Sailesh Ghimire</h3>
    <div class="person-details">IOE WRC</div>
    <div class="roll-number">PAS076BCT030</div>
  </div>

  <div class="person" id="sandesh-gc-details">
    <div class="person-img"></div>
    <h3 class="person-name">Sandesh GC</h3>
    <div class="person-details">IOE WRC</div>
    <div class="roll-number">PAS076BCT033</div>
  </div>
</div>
{% endblock %}

