{% extends 'auctions/layout.html' %} {% block title %} ABOUT {% endblock %}
{% block body %}
<h1 class="about-heading">Behind 'TECH AUCTION HOUSE'</h1>
<div class="about-container">
  <div class="about-person">
    <div
      class="about-person-img"
      style="
        width: 400px;
        height: 400px;
        background-image: url('../images/samir-gurung.jpg');
      "
    ></div>
    <!-- <img src="../static/images/samir-gurung.png" class="about-person-img"> -->
    <h3 class="about-person-name">Samir Gurung</h3>
  </div>
</div>
{% endblock %}
