{% extends 'auctions/layout.html' %}

{% block head%}
<link rel="stylesheet" href="../static/auctions/index.css" />
{% endblock %}   

{% block title %}
    Tech Auction House
{% endblock %}


{% block body %}
    <div name="root" id="root">
      <h3>Computers</h3>
      <!--card-category as title-->

      <div id="card-container">
        <!---each card is here-->
        <div class="card">
          <img
            src="../static/images/macbook-pro-14-inch.jpg" 
            class="card--cover-image"
          />
          <div class="card-details">
            <div class="card--title">MacBook Pro 14"</div>
            <p class="card--desc">14" MacBook Pro 512 GB RAM</p>
          </div>
        </div>
        <!--end of each card-->
      </div>
    </div>
{% endblock %}
